.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f8f9fd;
}

.table-header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
}

.buttons-span{
  padding: 10px;
  justify-content: center;
  align-content: center;
}

.tables{
  padding: 10px 30px 0px;
}

.chat{
  margin: 0px 30px 30px;
  padding: 15px;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
}

.consumption-options{
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
}

.chat-options{
  display: flex;
  align-items: end;
  justify-content: left;
  gap: 20px;
}

.nameTag{
  margin: 0;
  padding: 0;
  font-size: small;
}

.your-message{
  margin: 0;
  padding: 10px;
  display: inline-block;
  background-color:  #01d28e;
  border-radius: 5px;
}

.message{
  margin: 0;
  padding: 10px;
  display: inline-block;
  background-color: #b3ffe0;
  border-radius: 5px;
}



.msg{
  margin:10px;
}

span{
  display: flex;
  vertical-align: middle;
}


.row-container {
  display: flex;
  justify-content: right;
  flex-direction: row;
  gap: 8px;
  margin: 10px;
}

.table{
  height: 300px;
  width: 100%;
}

.login-form {
  background-color: white;
  padding: 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

input[type="date"],
input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}


button[type="submit"] {
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 10px;
  width: 150px;
  height: 40px;
  border-radius: 5px;
}

button[type="login"] {
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 10px;
  margin-top: 10px;
  width: 110px;
  height: 35px;
  border-radius: 5px;
}

.title{
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.charts-button{
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 10px;
  width: 300px;
  height: 53px;
  border-radius: 5px;

}

.chart{
  width: 1000px;
  padding: 50px;
}